.Button {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  
  .buttonTest {

    .button1 {
      height: 5vh;
      width: 10vh;
    }
  }

  .buttonTest2{

      .button2{
          height: 5vh;
          width: 10vh;
      }
  }
}
