@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin flexAlignColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin inputAndBtnSize {
  width: 90%;
  height: 2.8em;
  border: 0px;
  border-radius: 0.3em;
}
.Forgotpassword {
  background-color: #b2b2b2;
  align-items: center;
  min-height: 100vh;
  @include flexColumnCenter;

  .forgotPwBox {
    @include flexColumnCenter;
    width: 23em;
    height: 30em;
    background-color: #fafafa;
    border-radius: 2%;

    .forgotPwUp {
      @include flexAlignColumn;
      width:100%;
      border-bottom: 1px solid #cacaca;
      padding-bottom: 0.7em;
      margin-bottom: 3em;

      .forgotPwTitle{
        font-size: 20px;
        font-weight: bold;
        width:90%;
      }

    }
    .forgotPwDown {
      @include flexAlignColumn;
      width: 100%;

      .didYouForget {
        font-size: 17px;
        font-weight: bold;
        width: 90%;
      }

      .signedUpEmail {
        font-size: 15px;
        width: 90%;
        color: #cacaca;
        padding: 1em 0em;
      }

      .pleaseType {
        font-size: 15px;
        width: 90%;
        color: #cacaca;
        padding-bottom: 2em;
      }

      .forgotEmailInput {
        margin: 0.5em 0em;
        background-color: #f5f5f7;
        caret-color: #ff0658;
        font-size:1em;
        @include inputAndBtnSize;
      }
      
      .forgotEmailInput::placeholder {
        color: #cacaca;
        padding-left: 0.5em;
      }

      .forgotEmailInput:focus{
        outline:none;
      }

      .resetEmailButton {
        color: white;
        font-size: 1em;
        margin: 1em 0em;
        background-color: #ff0658;
        @include inputAndBtnSize;
      }

      .resetEmailButton:focus{
        outline:0;
    }
    
    }
  }
}
