.LoginSignUpControl {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  
  .loginBtnControl {

    .loginBtn {
      height: 5vh;
      width: 10vh;
    }
  }

  .signOutBtnControl{

      .signOutBtn{
          height: 5vh;
          width: 10vh;
      }
  }
}
