@import '../../../../../styles/common.scss';

.WritingCommentBTN {
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-detail-border;

  .fa-comment {
    font-size: 1.5em;
    color: #787878;
  }
}
