.DetailMainCommentLink {
  width: 640px;
  height: 540px;
  margin: 4em auto;
  border: 1px solid #d2d2d2;
  border-radius: 10px;

  .firstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
    padding: 0.3em 1em 0.5em;
    font-size: 1.1em;
    border-bottom: 1px solid #d2d2d2;

    .icon {
      color: #ff0658;
      font-size: 1.4em;
    }

    p {
      font-weight: bold;
    }
    .commentSummit {
      color: #d2d2d2;
    }
  }

  .SNS {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0.2em;
    border-bottom: 1px solid #d2d2d2;
    font-size: 1.3em;
    color: #d2d2d2;

    img {
      width: 1.5em;
      height: 1.5em;
      border: 1px solid #d2d2d2;
      border-radius: 10px;
    }
  }

  textarea {
    width: 100%;
    height: 80%;
    border: none;
    padding: 2em;
    font-size: 1.5em;
    outline: none;
    resize: none;
  }
}
