@import '../../../../../styles/common.scss';

.bottonsDivControl {
  margin: 2em 2em 0 0;

  .pulsAndwannaWatchButton {
    border-radius: 6px 0 0 6px;
  }

  .sortDownButton {
    border-radius: 0 6px 6px 0;
    width: 3.188em;
    height: 2.67em;
    border-left: 2px solid #ff1000;
  }

  .activebutton {
    background-color: #fd306f;
    font-size: 1.3em;
    border-style: none;
    color: $color-white;

    .wannaWatch {
      @include display-center;
      width: 10.188em;
      height: 2.563em;

      .plus {
        width: 1.3em;
        height: 1.3em;
        margin-top: 0.2em;
      }

      .plus path,
      .plus polygon,
      .plus rect {
        fill: $color-white;
      }

      .plus circle {
        stroke: $color-white;
        stroke-width: 1;
      }

      span {
        margin-right: 0.5em;
      }
    }

    .sort {
      width: 1.3em;
      height: 1.5em;
      padding-top: 0.2em;
    }

    .sort path,
    .sort polygon,
    .sort rect {
      fill: #ffffff;
    }

    .sort circle {
      stroke: #ffffff;
      stroke-width: 1;
    }
  }

  .inactivebutton {
    background-color: #f6f6f6;
    font-size: 1.3em;
    border-style: none;
    color: #111;

    .wannaWatch {
      @include flex-center;
      width: 10em;
      height: 2.563em;

      .bookmark {
        width: 1.3em;
        height: 1.3em;
        margin-top: 0.2em;
      }

      .bookmark path {
        fill: $color-youngcha;
      }

      .eye {
        width: 1.3em;
        height: 1.3em;
        margin-top: 0.2em;
      }

      .eye path {
        fill: #03a0ff;
      }

      span {
        margin-right: 0.5em;
      }
    }
    .sort {
      width: 1.3em;
      height: 1.5em;
      padding-top: 0.2em;
    }

    .sort path,
    .sort polygon,
    .sort rect {
      fill: #d9d9d9;
    }

    .sort circle {
      stroke: #d9d9d9;
      stroke-width: 1;
    }
  }
}
