* {
  box-sizing: border-box;
}
$color-white: #ffffff;
$color-black: #000000;
/* 왓챠 상징색 */
$color-youngcha: #ff0658;
/* 왓챠 폰트 컬러 */
/* 메뉴 클릭했을때 폰트 색상*/
$color-clicked-menu: #353535;
/* 메뉴 클릭안했을때 폰트 색상*/
$color-noneclick-menu: #7e7e7e;
/* 검색창 */
$color-GhostWhite: #f5f5f7;
$color-right-grey: #cacaca;
/* 상세페이지 색상 */
/* 상세페이지 배경 색상*/
$color-background: #f8f8f8;
/* 상세페이지 기본 정보 폰트 색상 */
$color-info-font-color: #4a4a4a;
/* 상세페이지 코멘트 배경 색상*/
$color-cmt-background: #f2f2f2;
/* 코멘트 색상 */
$color-cmt-font: #202020;
/* 상세페이지 별점색상 */
$color-yellow: #ffdd63;
