@import '../../../styles/common.scss';

.DetailMain {
  margin: 1.875em 1.25em 0 0;
  width: 39.813em;

  .detailMainInforAndAct {
    background-color: $color-background;
    border-radius: 6px 6px;
<<<<<<< HEAD
    border: 1px solid #d2d2d2;
=======
    // @include detailBorder;
>>>>>>> 21ac046b77796bb4e59ca021bb5e7ab620890fae
  }
}
