@import '../../../../../styles/common.scss';
.DetailMainCommentRead {
  padding: 0em 0.7em 0.7em 0.7em;
  background-color: #ffffff;

  .commentReadHeader {
    display: flex;
    align-items: center;
    height: 3em;
    margin-left: 0.5em;

    p {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .commentReadOverflow {
    display: flex;
    align-items: center;
    width: 36em;
    height: 23em;
    overflow-x: scroll;
  }
}
