.DetailMainAct {
  padding: 1em 1em 0 1em;
  background-color: #ffffff;

  h1 {
    font-size: 1.213em;
    font-weight: bold;
    margin: 0.5em 0 0.7em 0;
  }

  ul {
    height: 260px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
  }
}
