.Forgotpassword {
  background-color: #b2b2b2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .forgotPwBox {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    width: 23em;
    height: 30em;
    background-color: #fafafa;
    border-radius: 2%;
    .forgotPwUp {
      display:flex;
      width:100%;
      align-items: center;
      flex-direction: column;
      border-bottom: 1px solid #cacaca;
      padding-bottom: 0.7em;
      margin-bottom: 3em;
      .forgotPwTitle{
        font-size: 20px;
        font-weight: bold;
        width:90%;
      }
    }
    .forgotPwDown {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .didYouForget {
        font-size: 17px;
        font-weight: bold;
        width: 90%;
      }
      .signedUpEmail {
        font-size: 15px;
        width: 90%;
        color: #cacaca;
        padding: 1em 0em;
      }
      .pleaseType {
        font-size: 15px;
        width: 90%;
        color: #cacaca;
        padding-bottom: 2em;
      }
      .forgotEmailInput {
        margin: 0.5em 0em;
        width: 90%;
        height: 2.8em;
        border: 0px;
        background-color: #f5f5f7;
        border-radius: 0.3em;
        caret-color: #ff0658;
        font-size:1em;
      }
      .forgotEmailInput::placeholder {
        color: #cacaca;
        padding-left: 0.5em;
      }
      .forgotEmailInput:focus{
        outline:none;
      }
      .resetEmailButton {
        width: 90%;
        color: white;
        font-size: 1em;
        margin: 1em 0em;
        height: 2.8em;
        border: 0px;
        background-color: #ff0658;
        border-radius: 0.3em;
      }
      .resetEmailButton:focus{
        outline:0;
    }
    }
  }
}
