@import '../../../../../styles/common.scss';

li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  z-index: 1;

  .moviePoster {
    margin-bottom: 10px;
    overflow: hidden;

    .imgWrap {
      max-width: 300px;
      max-height: 300px;
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: scale-down;
    }
  }

  .movieInfo {
    .movieTitle {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 16px;
    }

    .yearAndCountry {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .rating {
      font-size: 14px;
      color: $color-youngcha;
    }
  }
}
