@import '../../../../styles/common.scss';

.slick-list {
  padding: 10px;
}

.slick-arrow {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-prev:before {
  @include slide-arrow;
  content: '<';
}

.slick-next:before {
  content: '>';
  @include slide-arrow;
}

.slick-next {
  margin-right: 10px;
}
