.SearchResultPage {
  padding-top: 100px;

  .searchResults {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 101px;

    .resultPageError {
      display: flex;
      position: fixed;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 350px;
        height: 350px;
        margin-bottom: 30px;
      }

      p {
        color: #a0a0a0;
      }
    }
  }
}
