@import '../../../../styles/common.scss';

.MainPage {
  @extend %display-center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 0 10px;
  margin-bottom: 200px;
  z-index: 2;

  .mainMovieList {
    margin: 15px;
    max-width: 90%;

    &.rankingSlide {
      max-width: 80%;
    }

    &:nth-child(1) {
      margin-top: 100px;
    }

    .personList {
      cursor: pointer;
    }

    .movieHeader {
      display: flex;
      margin: 15px 5px;

      .recoProfile {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 100%;
        border: 1px solid #eeeeee;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }

      p {
        font-weight: bold;
        font-size: 20px;
      }

      &.movieHeaderCollection {
        display: flex;

        .collectionTxt {
          margin-bottom: 5px;
          font-weight: normal;
          font-size: 15px;
          color: $color-noneclick-menu;
        }
      }

      &.movieHeaderStreaming {
        display: flex;
        align-items: center;
      }
    }
  }
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 100px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  @extend %display-center;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: $color-youngcha;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: $color-youngcha;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@import '../../../../styles/common.scss';

.MainPage {
  @extend %display-center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 0 10px;
  margin-bottom: 200px;
  z-index: 2;

  .mainMovieList {
    margin: 15px;
    max-width: 90%;

    &.rankingSlide {
      max-width: 80%;
    }

    &:nth-child(1) {
      margin-top: 100px;
    }

    .personList {
      cursor: pointer;
    }

    .movieHeader {
      display: flex;
      margin: 15px 5px;

      .recoProfile {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 100%;
        border: 1px solid #eeeeee;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }

      p {
        font-weight: bold;
        font-size: 20px;
      }

      &.movieHeaderCollection {
        display: flex;

        .collectionTxt {
          margin-bottom: 5px;
          font-weight: normal;
          font-size: 15px;
          color: $color-noneclick-menu;
        }
      }

      &.movieHeaderStreaming {
        display: flex;
        align-items: center;
      }
    }
  }
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 100px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  @extend %display-center;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: $color-youngcha;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: $color-youngcha;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.slick-prev:before {
  content: '';
  z-index: 1;
  display: block;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
  background-size: 12px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  transition: opacity 300ms ease 0s;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgxMlYxNkgweiIgdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDYgOCkiLz4KICAgICAgICA8cGF0aCBmaWxsPSIjMjkyQTMyIiBzdHJva2U9IiMyOTJBMzIiIHN0cm9rZS13aWR0aD0iLjM1IiBkPSJNMy40MjkgMTMuNDA5TDQuMzU0IDE0LjI1OCAxMC42OCA4LjQ2IDExLjE0MyA4LjAzNiA0LjM1NCAxLjgxMyAzLjQyOSAyLjY2MiA5LjI5MSA4LjAzNnoiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA2IDgpIi8+CiAgICA8L2c+Cjwvc3ZnPgo=)
    12px center / 12px no-repeat rgb(255, 255, 255);
}
[dir='rtl'] .slick-prev:before {
  content: '>';
  z-index: 1;
}

.slick-next {
  right: -1px;
  z-index: 1;
  display: block;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
  background-size: 12px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  transition: opacity 300ms ease 0s;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgxMlYxNkgweiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiMyOTJBMzIiIHN0cm9rZT0iIzI5MkEzMiIgc3Ryb2tlLXdpZHRoPSIuMzUiIGQ9Ik0zLjQyOSAxMy40MDlMNC4zNTQgMTQuMjU4IDEwLjY4IDguNDYgMTEuMTQzIDguMDM2IDQuMzU0IDEuODEzIDMuNDI5IDIuNjYyIDkuMjkxIDguMDM2eiIvPgogICAgPC9nPgo8L3N2Zz4K)
    12px center / 12px no-repeat rgb(255, 255, 255);
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '';
  display: block;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
  background-size: 12px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  transition: opacity 300ms ease 0s;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgxMlYxNkgweiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiMyOTJBMzIiIHN0cm9rZT0iIzI5MkEzMiIgc3Ryb2tlLXdpZHRoPSIuMzUiIGQ9Ik0zLjQyOSAxMy40MDlMNC4zNTQgMTQuMjU4IDEwLjY4IDguNDYgMTEuMTQzIDguMDM2IDQuMzU0IDEuODEzIDMuNDI5IDIuNjYyIDkuMjkxIDguMDM2eiIvPgogICAgPC9nPgo8L3N2Zz4K)
    12px center / 12px no-repeat rgb(255, 255, 255);
}
